

body{
    margin: 0;
    padding: 0px;
    color: #F1F2F6;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-family: monospace;
    font-size: 40px;
    border: none;
    outline: none;
    background-color: #094CFC;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
#myBtn:hover {
    background-color: tomato
}
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a{
  text-decoration: none;
  color: tomato;
  transition: color 0.3s ease;
}
#menuToggle a:hover{
    color: #094CFC;
}
#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: tomato;
}
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  font-family: 'Inconsolata', monospace;
  /* background: #ededed; */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
  padding: 10px 0;
  font-size: 18px;
}
#menuToggle input:checked ~ ul{
  transform: none;
}
a:link {
    text-decoration: none;
    color: tomato
} 
a:visited {
    text-decoration: none;
    color: tomato
} 
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: underline;
}
p{
    /* font-family: 'Chivo', sans-serif; */
    font-family: 'Inconsolata', monospace;
    font-size: 1.4em;
    /* letter-spacing: .05em; */
    margin: 0;
    line-height: 2.3em;
}
.tagline{
    color: #094CFC;
    text-align: center;
    line-height: 3em;
    margin-top: 2em;
}
h1{
    font-family: 'Corben', cursive;
    font-size: 9rem;
    margin: 0;
    color: #0242e8;
    text-align: center;
    letter-spacing: -10px;
}
h2{
    font-family: 'Corben', cursive;
    font-size: 3em;
    letter-spacing: 3px;
    padding-top: 2em;
}
h3{
    font-family: 'Corben', cursive;
    font-size: 2em;
}
h4{
    font-family: 'Inconsolata', monospace;
    margin-top: none;
    font-size: 2em;
}
.one{
    height: 400;
    background: #094CFC;
    box-sizing: border-box;
    color: #F1F2F6;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 5rem;

}
.number-tag{
    text-align: center;
    padding-bottom: 4em;
}
.bullet-list{
    font-family: 'Inconsolata', monospace;
    font-size: 1.4em;
    margin: 0;
    line-height: 2.3em;
}
.two{
    height: 400;
    /* background: #F1F2F6; */
    color: #094CFC;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 25px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 60px;
}
.grid-item {
    border: .5px solid #094CFC;
    padding: 20px;
    font-family: 'B612 Mono', monospace;
    font-size: 20px;
    color: #094CFC;
    text-align: center;
    background: none;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 8px;
}
footer{
    /* background: #F1F2F6; */
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: #094CFC;
    font-size: 1em;
    padding: 3em;
}

@media only screen and (max-width: 600px) {
  H1 {font-size: 3em;
    letter-spacing: 0px;
  
  }
}